@use './reset.scss';

*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
//   font-family: 'Mulish', sans-serif !important;
  font-size: 16px;
  line-height: normal;
  text-rendering: optimizeSpeed;
}

#root {
  height: 100%;
}

.hidden-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none !important;
  }
}